@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
	--baseFont: 16px;
	--red: hsl(0, 100%, 74%);
	--green: hsl(154, 59%, 51%);
	--blue: hsl(248, 32%, 49%);
	--darkBlue: hsl(249, 10%, 26%) ;
	--grayishBlue: hsl(246, 25%, 77%);
	--white: #ffffff;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0px;
	padding: 0px;
	font-family: 'Poppins', sans-serif;
	
}

.container {
	background: var(--red) url('./images/bg-intro-mobile.png') center/cover no-repeat;
	padding: 18% 6%;
	display: flex;
	flex-direction: column;
	font-size: 16px;
	min-height: 100vh;
}

.heading, .subtitle {
	padding-right: 8%;
}

.heading {
	color: var(--white);
	font-weight: 600;
	text-align: center;
	line-height: 1.2em;
}

.subtitle {
	color: var(--white);
	text-align: center;
	margin-top: 0px;
	font-weight: 400;
}

.callout {
	background-color: var(--blue);
	margin: 0% 0% 6%;
	border-radius: 10px;
	box-shadow: 0px 8px 3px 0px rgba(0,0,0,0.2);
	min-height: 85px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.callout__text {
	color: var(--white);
	text-align: center;
	font-weight: 300;
	margin: 1em 3em;
	line-height: 1.75em;
}

.callout__text span {
	font-weight: 700;
}

.form {
	display: flex;
	flex-direction: column;
	background-color: var(--white);
	padding: 6% 6% 4%;
	border-radius: 10px;
}

input {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	padding: 16px;
	margin-bottom: 20px;
	color: var(--darkBlue);
	font-weight: 600;
	border: 1px solid var(--grayishBlue);
	border-radius: 5px;
}

input::placeholder {
	color: var(--grayishBlue);
}

input:focus {
	color: var(--darkBlue);
	border-radius: 5px;
	border: 1px solid var(--darkBlue);
	outline: inherit;
}

input[type="submit"] {
	background-color: var(--green);
	color: white;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 0px;
	border: none;
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.5);
	cursor: pointer;
}

label {
	display: hidden;
}

.disclaimer {
	font-size: 13px;
	text-align: center;
	color: var(--grayishBlue);
	padding: 16px;
	margin: 0px;
}

.terms-link {
	color: var(--red);
	text-decoration: none;
	font-weight: 700;
}

/* Error Message Styles */

.error-input {
	border: 1px solid var(--red);
	color: var(--red);
}

.error-icon {
	transform: translateY(-62px) translateX(-10px);
  align-self: flex-end;
}

.error-msg {
	font-family: 'Poppins', sans-serif;
	font-size: 13px;
	font-style: italic;
	margin: -40px 0px 20px;
	padding: 0;
	align-self: flex-end;
	color: var(--red);
}

.hide {
	display: none;
}

@media only screen and (min-width: 768px) {
	.container {
		background: var(--red) url('./images/bg-intro-desktop.png') center/cover no-repeat;
		flex-direction: row;
		justify-content: space-between;
		padding: 5% 10%;
	}
	.heading {
		font-size: 48px;
		text-align: left;
	}
	.subtitle {
		text-align: left;
	}

	.left {
		width: 50%;
	}

	.left, .right {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		flex: 1;
	}

	.callout {
		width: 100%;
		min-height: 60px;
	}

	.form {
		width: 100%;
	}
}
